/* * * LANDING PAGE * * */
body {
  margin: 0;
  background-color: #F4E6DB;
}

.home-login {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(./images/landing-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#login-button {
  position: relative;
  width: 300px;
  height: 64.1px;
  background: #b7adad;
  border: 1px solid #000000;
  border-radius: 10px;
  top: 800px;
}

#signup-button {
  position: relative;
  width: 300px;
  height: 64.1px;
  background: #e46c6c;
  border: 1px solid #000000;
  border-radius: 10px;
  top: 800px;
}

img.landing-logo {
background: url(./images/logo.png);
position: fixed;
top: 10%;
}

#auth-container {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .landing-input, .landing-label {
 font-size: 28px;
}

 div#auth-container{
  height: 100vh;
  font-size: 32px;
  size: 300px;
  background-image: url(./images/landing-background.png);
  background-size: cover;
 }
 

 /* New CSS as of 3/27 */

/* The Nav Bar Itself */

#topNavBar {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #373535;
}

/* Nav line divider */

.navLineDivider {
  width: 1px;
  height: 25px;
  background-color: white;
}


/* Left side Logo Section */

#navbarLogoSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Jim Nightshade';
  font-size: 36px;
  font-weight: 100;
  width: 200px;
  height: 60px;
  text-decoration: none;
  color: white;
}

#navbarLogoSection img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

#navbarLogoSection p {
  padding-bottom: 5px;
  padding-right: 20px;
}

/* Middle Section */

#navbarMiddleSection {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  padding: 0px 30px;
}

/* Middle Search Bar */

#navbarSearchBar {
  position: relative;
  height: 45px;
  width: 560px;
}

#navbarSearchBarKeywordField {
  box-sizing: border-box;
  position: absolute;
  width: 264.88px;
  height: 45px;
  left: 0px;
  padding: 0px 0px 0px 10px;
  background: #F1F1F1;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

#navbarSearchBarLocationField {
  box-sizing: border-box;
  position: absolute;
  width: 240px;
  height: 45px;
  left: 266px;
  padding: 0px 0px 0px 10px;
  background: #F1F1F1;
  border: none;
  border-left: 0.5px solid #373535;
}

#navbarSearchBarSubmitButton {
  position: absolute;
  width: 49.66px;
  height: 45px;
  left: 507px;
  background: #BC4934;
  border: none;
  border-left: 0.5px solid #373535;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}



/* Middle groups button */

#groupsDropdown {
  display: flex;
  position: relative;
  align-items: center;
  width: 137px;
  margin-top: 14px;
  padding-bottom: 14px;
}

#groupsDropdownContainer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 137px;
  height: 32px;
  background: #BC4934;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
}

#groupsDropdownText {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F1F1F1;
}

#groupsDropdownCaret {
  position: absolute;
  right: 10px;
  color: white;
}

#groupsDropdownContent, #profileDropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#groupsDropdownContent {
  top: 46px;
  right: -12px;
} 

#profileDropdownContent {
  top: 60px;
  right: 0px;
}

#groupsDropdownContent .navLink, #profileDropdownContent .navLink {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Change color of dropdown links on hover */
#groupsDropdownContent .navLink:hover, #profileDropdownContent .navLink:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
#groupsDropdown:hover #groupsDropdownContent, #profileDropdown:hover #profileDropdownContent {
  display: block;
  overflow: hidden;
  border-radius: 0px 0px 5px 5px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#groupsDropdown:hover #groupsDropdownContainer, #profileDropdown:hover #profileDropdownContainer {
    background-color: #E6693F;
}

#groupsDropdown:hover .rotatable, #profileDropdown:hover .rotatable {
    transform: rotate(180deg);
}

.rotatable {
  position: relative;
  transition-duration: 300ms;
}

.navLink {
  width: 100%;
  text-align: left;
}

/* Right side nav links */

#navbarLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  padding: 0px 0px 0px 15px;
}

#navbarLinks * {
  padding: 5px;
}

#profileDropdownContent {
  padding: 0;
}

#navbarLinks button {
  display: flex;
  align-items: center;
  justify-content: center;
	background: none;
  border: none;
	padding: 0;
	cursor: pointer;
}

#profileDropdownLink {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50px;
}

.fa {
  color: white;
  font-size: 20px;
}

#trendingCategoriesBody a {
  text-decoration: none;
  color: black;
}

.groupsBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4E6DB;
}

#trendingCategoriesContainer h1 {
  font-size: 48px;
  padding: 15px 0px 10px 150px;
  font-family: 'Cabin', sans-serif;
  font-weight: 100;
}

#trendingCategoriesBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1300px;
  padding-bottom: 40px;
}

.trendingCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BC4934;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0px 1px 4px black;
  font-size: 20px;
}

#music {
  background-image: url(https://images.unsplash.com/photo-1616538584195-65f4b11948dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
 background-size: 100% 100%;
  background-position: center;
 }
 
 
 #business {
  background-image: url(https://images.unsplash.com/photo-1661956602868-6ae368943878?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
 }
 
 
 #golf {
  background-image: url(https://images.unsplash.com/photo-1535131749006-b7f58c99034b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
 }
 
 
 #DandD {
  background-image: url(https://images.unsplash.com/photo-1549056572-75914d5d5fd4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
 }
 
 
 #gaming{
  background-image: url(https://images.unsplash.com/photo-1612287230202-1ff1d85d1bdf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
  background-repeat: no-repeat;
  background-size: 100% 100%;
 background-position: center;
 
 
 }
 #climbing{
  background-image: url(https://images.unsplash.com/photo-1588869222183-9269c9a5d330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-size: 100% 100%;
 background-position: center;
 
 
 }
 #comedy{
  background-image: url(https://images.unsplash.com/photo-1506882482183-3fc779ba50f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
 }
 
 
 #hiking {
  background-image: url(https://images.unsplash.com/photo-1440186347098-386b7459ad6b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
 }
 
 
 #trendingCategoriesBody a {
  text-decoration: none;
  color: #ff0000; /* bright yellow */
  font-weight: bolder;
 }
 #trendingCategoriesBody a {
  text-decoration: none;
  color: white;
  font-weight: 700; /* bold */
 }
 #trendingCategoriesBody a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px 2px #000000;
 }
 
 
 
 



#displayedGroupsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1300px;
  margin-bottom: 50px;
}

.groupCard {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #FBDCC7;
  margin: 12px;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  color: black;
  box-shadow: 0px 1px 4px black;
  
}

.groupCardPicture {
  height: 50%;
  background-image: url(./images/hikingImage.jpg);
  background-size: cover;
}

.groupCardQuickButton {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 135px;
  right: 20px;
  border-radius: 50%;
  background-color: #BC4934;
}

.groupCardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: none;
  height: 50%;
  padding: 0px 10px;
}

.groupCardInfo * {
  width: 100%;
  padding: 5px 0px;
}


#createGroupContainer {
  margin-top: 70px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  background-color: #FBDCC7;
  box-shadow: 0px 1px 4px black;
  border-radius: 10px;
}

#createGroupTitle {
  padding: 0;
  margin: 10px 0px;
}

.createGroupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createGroupField {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 15px;
  outline: none;
  border: none;
  width: 400px;
}

.createGroupField * {
  margin: 2px;
}

.createGroupDescription {
  min-height: 50px;
}

.createGroupTextField {
  padding: 10px;
  border-radius: 5px;
  max-width: 370px;
  background: #F1F1F1;
  border: 1px solid black;
  border-radius: 5px;
}

.createGroupFieldInline {
  display: inline-block;
}

.createGroupTextField input {
  width: 650px;
  height: 30px;
  border-radius: 10px;
}

.createGroupButton {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #BC4934;
  color: #f1f1f1;
  box-shadow: 0px 1px 4px black;
  margin: 15px;
  font-size: 20px;
}

.createGroupButton:hover {
  cursor: pointer;
  box-shadow: 0px 1px 10px rgb(199, 65, 65);
}

#groupDate input, #groupType input {
  width: 300px;
}

#groupImage {
  position: absolute;
  background-color: #f1f1f1;
  right: 50px;
  bottom: 85px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

#groupImage h4 {
  position: absolute;
  bottom: 55px;
  left: 80px;
}

#groupImage button {
  position: absolute;
  bottom: 115px;
  left: 95px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.hoverShadowedLink:hover {
  box-shadow: 0px 1px 10px rgb(199, 65, 65);
}

#navbarSearchBarSubmitButton:hover {
  background-color: #E6693F;
}

.bodySizedContainer {
  width: 100vw;
  height: 100vh;
  background-color: #F4E6DB;
}

.centeredFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centeredContainer {
  width: 400px;
  min-height: 100px;
  background-color: #BC4934;
  padding: 20px;
  border-radius: 10px;
}

#settingsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#settingsContainer input {
  width: 18px;
  height: 18px;
}

#settingsContainer span {
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px
}

.settingsBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}

.settingsBlock input {
  margin-right: 15px;
}

#profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.aboutUs-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.aboutUsHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#teamContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 180px;
  grid-row-gap: 15px;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

#teamContainer img {
  width: 300px;
  background-size: auto;
  overflow: hidden;
}

#profileContainer {
  display: flex;
  flex-direction: row;
}

.profileContainerLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.profileInputField {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}

.profileInputField input {
  height: 20px;
  border-radius: 5px;
  padding: 4px;
}

.profileContainerRightSide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.profilePictureField {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 75px;
  margin: 0px 6px;
  border: 2px dotted black;
  border-radius: 5px;
}

.profilePictureField:hover {
  cursor: pointer;
  box-shadow: 0px 1px 2px black;
}