/* * * LANDING PAGE * * */
body {
  margin: 0;
}

.home-login {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(./images/landing-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#login-button {
  position: relative;
  width: 300px;
  height: 64.1px;
  background: #b7adad;
  border: 1px solid #000000;
  border-radius: 10px;
  top: 800px;
}

#signup-button {
  position: relative;
  width: 300px;
  height: 64.1px;
  background: #e46c6c;
  border: 1px solid #000000;
  border-radius: 10px;
  top: 800px;
}

img.landing-logo {
background: url(./images/logo.png);
position: fixed;
top: 10%;
}

#auth-container {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .landing-input, .landing-label {
 font-size: 28px;
}

 div#auth-container{
  height: 100vh;
  font-size: 32px;
  size: 300px;
  background-image: url(./images/landing-background.png);
  background-size: cover;
 }
 